extends layout

block content
  h1= title
  script(type="text/javascript", src="/javascripts/chefs.js")

  ul(data-bind="foreach: chefs")
    li 
      a(data-bind="attr: {href: '/food/chefs/' + key}, text: name")
