extends layout

block content
  h1= title
  script(type="text/javascript", src="/javascripts/chefs.js")

  div(data-bind="foreach: chefs")
    h2
      a(data-bind="attr: {href: '/food/chefs/' + key}, text: name")
