extends layout

block content
  h1= title
  script(type="text/javascript", src="/javascripts/ingredients.js")

  ul(data-bind="foreach: ingredients")
    li
      a(data-bind="attr: {href: '/food/ingredients/' + name}, text: name")
