extends layout

block content
  h1= title
  script(type="text/javascript", src="/javascripts/ingredient.js")

  h2(data-bind="text: name")
  p(data-bind="text: description")

  h3 Links
  a(data-bind="attr: {href: 'http://en.wikipedia.org/wiki/' + wikiId}") Wikipedia
