doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/components/domready/ready.js')
    script(type='text/javascript', src='/javascripts/components/knockout/index.js')
    script(type='text/javascript', src='/javascripts/components/reqwest/reqwest.js')
    script(type='text/javascript', src='/javascripts/components/qwery/qwery.js')
    script(type='text/javascript', src='/javascripts/components/bonzo/bonzo.js')
  body
    block content