doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/components/domready/ready.js')
    script(type='text/javascript', src='/javascripts/components/knockout/index.js')
    script(type='text/javascript', src='/javascripts/components/reqwest/reqwest.js')
    script(type='text/javascript', src='/javascripts/components/qwery/qwery.js')
    script(type='text/javascript', src='/javascripts/components/bonzo/bonzo.js')
  body
    div(id="logo")
    nav
        span Forager
        span | 
        a(href="/food/chefs") Chefs
        a(href="/food/recipes") Recipes
        a(href="/food/ingredients") Ingredients
        span |
        a(href="/about") About the project 
    block content
