doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/components/domready/ready.js')
    script(type='text/javascript', src='/javascripts/components/knockout-2.1.0.js')
    script(type='text/javascript', src='/javascripts/components/reqwest/reqwest.js')
  body
    block content