extends layout

block content
  script(type="text/javascript", src="/javascripts/recipe.js")


  h2(data-bind="text: name")
  div
    img(data-bind="attr: {src:hero}")
  <!-- ko with: chef -->
  p By
    <!-- ko if: name -->
    a(data-bind="text: ' ' + name, attr: {href: '/food/chefs/' + key}")
    <!-- /ko -->
    <!-- ko ifnot: name -->
    span(data-bind="text: $data")
    <!-- /ko -->
  <!-- /ko -->
  a(href="nigel-slater-salade-nicoise-classic-recipe/shopping")
    span view as shopping list
  h3 Ingredients
  ul(data-bind="foreach: ingredients")
    li.ingredient
      p
        span(data-bind="text: quantity + ' '")
        <!-- ko if: $data.unit -->
        span(data-bind="text: unit + ' of '")
        <!-- /ko -->
        a(data-bind="text: ingredient, attr: {href: '/food/ingredients/' + encodeURIComponent(ingredient)}")
        <!-- ko if: $data.tip -->
        span(data-bind="text: ' (' + tip + ')'")
        <!-- /ko -->
  div(data-bind="foreach: preparationSteps")
      p(data-bind="text: p")

  h3= "Wine"
  p Recommendations brought to you by wine.com
  <!-- ko if: books.length > 1 -->
  h3= "Books"
  p A list of books this chef has written
  ul(data-bind="foreach: books", class="books")
    li
        h3(data-bind="text: title")
        img(data-bind="attr: {src: hero}")
        p(data-bind="text: description")
        p
            span Our price:
            span(data-bind="text: price")
        ul
            span(data-bind="foreach: reviews")
                li
                    a(data-bind="attr: {href: uri}") Read our review
            span(data-bind="foreach: extracts")
                li
                    a(data-bind="attr: {href: uri}") Read an extract
  <!-- /ko -->
