extends layout

block content
  h1= title
  script(type="text/javascript", src="/javascripts/recipes.js")

  ul(data-bind="foreach: recipes")
    li
      a(data-bind="attr: {href: '/food/recipes/' + key}, text: name")
