extends layout

block content
  h1= title
  script(type="text/javascript", src="/javascripts/recipe.js")
   
  # dishes - other Salads, other version of Salad Niscoise
   
  ul
    li
        a(href="nigel-slater-salade-nicoise-classic-recipe/shopping")
          span view as shopping list
  
        
  h2(data-bind="text: name")
  div
    img(data-bind="attr: {src:hero}")
  <!-- ko with: chef -->
  p By
    <!-- ko if: name -->
    a(data-bind="text: ' ' + name, attr: {href: '/food/chefs/' + key}")
    <!-- /ko -->
    <!-- ko ifnot: name -->
    span(data-bind="text: $data")
    <!-- /ko -->
  <!-- /ko -->
  h3 Ingredients
  ul(data-bind="foreach: ingredients")
    li
      p
        span(data-bind="text: quantity + ' '")
        a(data-bind="text: ingredient", href="/food/ingredient/...")
  div(data-bind="foreach: preparationSteps")
      p(data-bind="text: p")

  h3= "Wine"
  p Recommendations brought to you by wine.com
  h3= "Books"
  p A list of books this chef has written 
