extends layout

block content
  h1= title
  script(type="text/javascript", src="/javascripts/recipe.js")

  h2(data-bind="text: name")
  p By
    a(data-bind="text: ' ' + chef", href="/food/chefs/...")
  h3 Ingredients
  div
    img(data-bind="src: hero")
  ul(data-bind="foreach: ingredients")
    li
      p
        span(data-bind="text: quantity + ' '")
        a(data-bind="text: ingredient", href="/food/ingredient/...")
  div(data-bind="foreach: preparationSteps")
      p(data-bind="text: p")
