extends layout

block content
  h1= title
  script(type="text/javascript", src="/javascripts/shopping.js")

  h2(databind="text: name")
  p By
    a(data-bind="text: ' ' + chef", href="/food/chefs/...")
  p
    span http://gu.com/Yga8a
  h3 Ingredients
  ul(data-bind="foreach: ingredients")
    li
      p
        span(data-bind="text: quantity + ' '")
        a(data-bind="text: ingredient", href="/food/ingredient/...")



